body {
  font: 400 1rem/1.25 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

button {
  outline: none;
  border: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
